<article class="post" id="{{slug}}">
    <header>
        <a href="{{url}}">
            <h2>{{title}}</h2>
        </a>
    </header>
    {{content}}
    <footer>
        <hr>
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date
                format="MMM YYYY"}}</time>

    </footer>
</article>