{{!< default}}
<!-- Wrapper -->
<div class="background" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}></div>

{{#author}}
    <div class="wrapper">
        <!-- Main -->

        <section class="main" id="{{slug}}">

            <article class="post portrait">
                <img src="{{image}}">
            </article>

            <article class="post">
                <header>
                    <h2>{{name}}</h2>
                </header>
                {{bio}}
                <footer>
                    <hr>
                    Visit my social media and coding platforms<br><br>
                    <ul class="icons">
                        <li><a href="https://www.pinterest.com/milchkannen" class="sm-pinterest" title="Pinterest">Pinterest</a></li>
                        <li><a href="https://twitter.com/milchkannen" class="sm-twitter" title="Twitter">Twitter</a></li>
                        <li><a href="https://unsplash.com/@kilchenmann" class="sm-unsplash" title="Unsplash">Unsplash</a></li>
                        <li><a href="http://codepen.io/kilchenmann/" class="sm-codepen" title="CodePen">CodePen</a></li>
                        <li><a href="https://github.com/kilchenmann" class="sm-github" title="GitHub">GitHub</a></li>
                    </ul>
                </footer>
            </article>

        </section>

    </div>
{{/author}}