{{!< default}}

{{#author}}
    <!-- Wrapper -->
    <div class="background" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}></div>

    <div class="wrapper">
        <!-- Main -->

        <section class="main" id="{{slug}}">

            <article class="post portrait">
                <img src="{{image}}">
            </article>
            <article class="post">
                <header>
                    <h2>{{name}}</h2>
                </header>
                {{bio}}
                <footer>
                    <hr>
                    Visit my social media and coding platforms<br><br>
                    <ul class="icons">
                        <li><a href="https://www.pinterest.com/milchkannen" class="sm-pinterest">Pinterest</a></li>
                        <li><a href="http://codepen.io/kilchenmann/" class="sm-codepen">CodePen</a></li>
                        <li><a href="https://github.com/kilchenmann" class="sm-github">GitHub</a></li>
                    </ul>
                </footer>
            </article>

        </section>

    </div>
{{/author}}