{{!< default}}

<!-- Wrapper -->
<div id="wrapper">
    {{#author}}
    <!-- Main -->
    <section id="main">
        <header>
            {{#if image}}
                <a class="blog-image" href="author/{{slug}}" id="blog-image">
                    <span class="avatar">

                        <img src="{{image}}" alt="{{name}}">
                    </span>
                </a>
            {{/if}}
            <h1>{{@blog.title}}</h1>
            <p>{{@blog.description}}</p>


        </header>
        <footer>
            <hr>
            <p style="text-transform:lowercase">
                The service is not yet ready — in the meantime
            </p>
            <p>
                visit my social media and coding platforms
            </p>

            <ul class="icons">
                <li><a href="https://www.pinterest.com/milchkannen" class="sm-pinterest">Pinterest</a></li>
                <li><a href="https://ello.co/milchkannen" class="sm-ello">Ello</a></li>
                <li><a href="http://codepen.io/milchkannen/" class="sm-codepen">CodePen</a></li>
                <li><a href="https://github.com/milchkannen" class="sm-github">GitHub</a></li>
                <li style="display:none;">
                    <a href="http://dhlab.unibas.ch"
                       title="Digital Humanities Lab (dhlab), University of Basel">DHLab</a>
                </li>
            </ul>
        </footer>
    </section>
    {{/author}}
    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; <a href="http://milchkannen.ch">milchkannen</a></li>
        </ul>
    </footer>

</div>