{{!< default}}

<!-- Wrapper -->
<div class="background" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}></div>

<div class="wrapper">
    <!-- Main -->
    <section class="main">
        {{#get "posts" filter="tags:hash-welcome"}}
            {{#foreach posts}}
                <article>
                    <header>
                        {{#if @blog.logo}}
                            <a class="blog-image" href="{{@blog.url}}">
                            <span class="image">
                                <img src="{{@blog.logo}}" alt="{{@blog.title}}">
                            </span>
                            </a>
                        {{/if}}
                    </header>
                    {{content}}
                    <footer>
                        <!-- the footer is for some share buttons (?) -->
                    </footer>
                </article>
            {{/foreach}}
        {{/get}}

        <!-- news -->
        {{#get "posts" filter="tags:hash-news"}}
            {{#foreach posts}}
                {{> article}}
            {{/foreach}}
        {{/get}}
    </section>
</div>
